{:cco-cda-template "hl7cda_cco2_template_v2.xml"
 :cert-pwd "Sfw020mrn"
 :cert-path "E:/tmp/Recepta/Regis/Fse/certificati_medir_marno/SWmarnoASSLSanluri.pfx"
 :certificates { :1 {:cert-pwd "Sfw020mrn"
                     :cert-path "E:/tmp/Recepta/Regis/Fse/certificati_medir_marno/SWmarnoASSLCarbonia.pfx"}
                 :2 {:cert-pwd "Sfw020mrn"
                     :cert-path "E:/tmp/Recepta/Regis/Fse/certificati_medir_marno/SWmarnoASSLCarbonia.pfx"}
                 :3 {:cert-pwd "Sfw020mrn"
                     :cert-path "E:/tmp/Recepta/Regis/Fse/certificati_medir_marno/SWmarnoASSLCarbonia.pfx"}
                 :5 {:cert-pwd "Sfw020mrn"
                     :cert-path "E:/tmp/Recepta/Regis/Fse/certificati_medir_marno/SWmarnoASSLSanluri.pfx"}}
 :regis-db {:dbtype "postgresql"
            ;;:dbname "recepta_regis_fse"
            ;;:host "10.10.117.5"
            :dbname "recepta_regis_dev"
            :host "localhost"
            :user "postgres"
            :password "marno"
            :sslfactory "org.postgresql.ssl.NonValidatingFactory"}
 :codice-operatore "000000001024"}
